/* Настройка шрифтов */
@font-face {
  font-family: 'Sora';
  src: url('Sora-Regular.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  /* swap - правила отрисовки текста если не будет загружен этот шрифт   */
  font-display: swap;
}

/* Переменные для использования в проекте */
:root {
  /* Шрифты */
  --font-family: 'Sora', sans-serif;
  --font-size-standart: 24px;
  --font-size-header: 32px;
  --font-size-big: 38px;


  /* ЦВЕТА */
  --color-dark: #1C1C1C;
  --color-dark-alternate: #000000;
  --color-light: #FFFFFF;
  --color-image: #EEF4ED;
  --color-background: #DEDEDE;
  --color-yellow: #FCE000;
  --color-yellow-rgb: 252,224,0;

  /* Граница */
  --border-radius: 50px;
  --border-radius-items: 30px;
  --border: 1px solid var(--color-dark);

  --task-height: 80px;

  /* Контейнер */
  --container-width: 1300px;

  --transition-duration: 0.3s;
}

body {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: var(--font-size-standart);
  line-height: 1.75;    /* Вертикальное расстояние между строками */
  color: var(--color-dark);
  background-color: var(--color-dark);
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 700;
} 

a {
  text-decoration: none;
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

.button {
  /* Чтобы можно было примернить height */
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  font-weight: 700;
  letter-spacing: 1.2px;
  padding: 0;
  font: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
}

.button:hover {
  cursor: pointer;
}

.is-current {
  background-color: #1C1C1C;
  border: var(--border);
  border-radius: var(--border-radius-items);
  color: var(--color-image);
  padding: 10px;
}

.button:hover.is-current {
  cursor: auto;
} 

.container {
  margin-inline: auto;  /* Центрируем контент по горизонтали */
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.todo {
  width: 1500px;   
  height: 840px;
  margin: 20px auto;
  display: flex;
  gap: 20px; 
  background-color: var(--color-background);
}

.todo-panel, .todo-content {
  background-color: var(--color-light);
  border: var(--border);
  box-shadow: 0 0px 40px rgba(0, 0, 0, 0.2); 
}

.todo-panel {
  flex: 1;
  max-width: 400px;
  font-size: var(--font-size-standart);
  font-weight: 600;
  border-radius: 0px var(--border-radius) var(--border-radius) 0px;
}

.todo-burger-button {
  padding: 30px;
  margin-bottom: 40px;
}

.burger-button{
background-color: var(--color-light);
}

.todo-panel-list {
  padding-inline: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.todo-panel-item {
  display: inline-flex;
  align-items: center;
  padding: 10px;
  white-space: nowrap;
}

.todo-panel-item img {
  width: 50px;
  height: 50px;
}

.panel-item-span {
  padding-left: 20px;
}

.todo-content {
  flex:2;
  border-radius: var(--border-radius) 0px 0px var(--border-radius);
  padding: 20px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 900;
  margin-bottom: 40px;
  padding-top: 20px;
  padding-inline: 40px;
}

.header-title {
  display: block;
  font-size: var(--font-size-big);
}

.header-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
}

.header-list-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-inline: 10px;
}

.header-list-item img {
  margin-right: 6px; /* Отступ справа от изображения */
}

.header-list-item span {
  font-size: 20px;
}

.input-pole {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  height: 60px;
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--color-light);
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.1); 
  margin-bottom: 40px;
}

.input-pole form {
  width: 100%;
}

.input-main-input {
  padding-left: 20px;
  text-align: left;
  width: 70%;
  height: 40px;
  line-height: 1.7px;
  font-size: 18px;
  font-weight: 300;
  color: var(--color-dark);

}

.input-main-input::placeholder {
  color: var(--color-dark);
}

.input-main-button {
  position: absolute;
  right: -5px;
  white-space: nowrap;
  font-size: var(--font-size-standart);
  font-weight: 900;
  padding-inline: 20px;
  height: 60px;
  border: 1px solid var(--color-yellow);
  border-radius: var(--border-radius);
  background-color: var(--color-yellow);
}

.input-main-button:hover {
  padding-inline: 30px;  
  border: var(--border);
  box-shadow: -8px 8px 30px rgba(var(--color-yellow-rgb), 0.8);
}

.main {
  max-height: 550px;
  padding-left: 25px;
  overflow-y:auto;
  overflow-x: visible;
  /* overflow: auto; */
  border-radius: var(--border-radius);
}

.main-title {
  padding: 0px 20px 20px;
  font-size: var(--font-size-standart);
  font-weight: 700;
}

.task {
  display: flex;
  width: 92%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: var(--task-height);
  padding: 20px 30px;
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--color-light);
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  cursor: default;
}

.task-checkbox-items, .task-data-items {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.task-title {
  flex-basis: 100%;
  font-size: 20px;
  /* white-space: wrap; */
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
}

.task-data-items {
  /* position: relative; */
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px
}

.task-delete-button {
  /* Сдвигаем кнопку удаления задачи, потому что она почему-то криво выглядит на вёрстке  */
  position: relative;
  top: 1px
}

/* =====Акардеон меню выпадающий список */
.dropdown-label {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px 0px 20px 18px;
  gap: 6px;
  font-size: var(--font-size-standart);
  font-weight: bold;
  cursor: pointer;
}

.task-dropdown-list {
  padding-left: 40px;
  display: none; /* Используем flex для флексбоксов */
  flex-direction: column; /* Для отображения элементов вертикально */
  list-style: none;
  margin-top: 10px; /* Добавляем отступ сверху */
  width: 100%; /* Занимаем доступную ширину */
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.dropdown-checkbox:checked + .dropdown-label + .task-dropdown-list {
  display: flex;
}

/* Стиль для поворота иконки при раскрытии списка */
.dropdown-checkbox:checked + .dropdown-label #dropdown-img {
  transform: rotate(-90deg); /* Поворачиваем изображение на 180 градусов */
  transition: transform 0.3s ease; /* Добавляем плавную анимацию */
}

#dropdown-img {
  transition: transform 0.3s ease; /* Плавная анимация для начального состояния */
}

/* =========Кастомный чекбокс */
.checkbox-radio {
  cursor: pointer;
  position: relative;
  display: block;
  width: 20px;
  aspect-ratio: 1;
  margin-right: 20px;
  background-color: transparent;
  border-radius: var(--border-radius);
  border: var(--border);
  
}
.checkbox:checked + .checkbox-radio {
  transition-duration: var(--transition-duration);
  background-color: var(--color-yellow);
  box-shadow: -4px 4px 16px rgba(var(--color-yellow-rgb), 0.7);;
}
/* =========*/
