/* Стили для метки чекбокса */
.checkbox-label {
  cursor: pointer;
  position: relative;
  display: block;
  width: 50px;
  aspect-ratio: 1;
  margin-right: 10px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid black;
}

/* Стили для чекбокса, когда он активен */
.checkbox:checked + .checkbox-label {
  transition-duration: 0.3s;
  background-color: yellow;
  box-shadow: -4px 4px 16px rgba(yellow, 0.7);
}

/* Скрываем сам чекбокс, чтобы он не отображался */
.checkbox {
  
}
